input {
  padding: 10px 25px;
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p {
  color: #000;
}
ul {
  list-style: none;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App {
  margin-top: 20px;
}
button.delete {
  background: red;
  padding: 10px 20px;
}
.update {
  background: green;
  padding: 10px 20px;
}
.add {
  margin-top: 100px;
}
input{
  margin-left: 10px;
}
.lastname{
  margin-left: 20px;
}
.button{
  margin-left: 20px;
}