input{
  padding: 10px 25px;
  text-decoration: none;
  
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
p{
  color: #000;
}
ul{
  list-style: none;
}